# MonsGeek M1 V5 HE Magnetic Keyboard - allow user access to hidraw
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="3151", ATTRS{idProduct}=="5030", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="3151", ATTRS{idProduct}=="5030", MODE="0666"
